# Verify Date Columns in NBA Calendar

Check if `GAME_DATE`, `GAME_DATE_DT`, and `DATE_ONLY` columns are always identical

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Load the games CSV
games_csv = Path('../api_setup/nba_calendar/all_games_2024_25.csv')
df = pd.read_csv(games_csv)

print(f"Total rows: {len(df)}")
print(f"\nColumns in dataset:")
print(df.columns.tolist())

Total rows: 1230

Columns in dataset:
['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS', 'GAME_DATE_DT', 'DATE_ONLY']

In [3]:
# Display first 20 rows of the three date columns
df[['GAME_DATE', 'GAME_DATE_DT', 'DATE_ONLY']].head(20)

     GAME_DATE GAME_DATE_DT   DATE_ONLY
0   2025-04-13   2025-04-13  2025-04-13
1   2025-04-13   2025-04-13  2025-04-13
2   2025-04-13   2025-04-13  2025-04-13
3   2025-04-13   2025-04-13  2025-04-13
4   2025-04-13   2025-04-13  2025-04-13
5   2025-04-13   2025-04-13  2025-04-13
6   2025-04-13   2025-04-13  2025-04-13
7   2025-04-13   2025-04-13  2025-04-13
8   2025-04-13   2025-04-13  2025-04-13
9   2025-04-13   2025-04-13  2025-04-13
10  2025-04-13   2025-04-13  2025-04-13
11  2025-04-13   2025-04-13  2025-04-13
12  2025-04-13   2025-04-13  2025-04-13
13  2025-04-13   2025-04-13  2025-04-13
14  2025-04-13   2025-04-13  2025-04-13
15  2025-04-11   2025-04-11  2025-04-11
16  2025-04-11   2025-04-11  2025-04-11
17  2025-04-11   2025-04-11  2025-04-11
18  2025-04-11   2025-04-11  2025-04-11
19  2025-04-11   2025-04-11  2025-04-11

In [4]:
# Check data types
print("Data types:")
print(f"GAME_DATE: {df['GAME_DATE'].dtype}")
print(f"GAME_DATE_DT: {df['GAME_DATE_DT'].dtype}")
print(f"DATE_ONLY: {df['DATE_ONLY'].dtype}")

Data types:
GAME_DATE: object
GAME_DATE_DT: object
DATE_ONLY: object

In [5]:
# Convert all to strings for comparison
game_date_str = df['GAME_DATE'].astype(str)
game_date_dt_str = df['GAME_DATE_DT'].astype(str)
date_only_str = df['DATE_ONLY'].astype(str)

print("Sample values as strings:")
print(f"GAME_DATE:    '{game_date_str.iloc[0]}'")
print(f"GAME_DATE_DT: '{game_date_dt_str.iloc[0]}'")
print(f"DATE_ONLY:    '{date_only_str.iloc[0]}'")

Sample values as strings:
GAME_DATE:    '2025-04-13'
GAME_DATE_DT: '2025-04-13'
DATE_ONLY:    '2025-04-13'

In [6]:
# Check if GAME_DATE == GAME_DATE_DT
match_1 = (game_date_str == game_date_dt_str).all()
print(f"GAME_DATE == GAME_DATE_DT: {match_1}")

if not match_1:
    diff_1 = df[game_date_str != game_date_dt_str][['GAME_DATE', 'GAME_DATE_DT']]
    print(f"\nDifferences found: {len(diff_1)} rows")
    print(diff_1.head())

GAME_DATE == GAME_DATE_DT: True

In [7]:
# Check if GAME_DATE == DATE_ONLY
match_2 = (game_date_str == date_only_str).all()
print(f"GAME_DATE == DATE_ONLY: {match_2}")

if not match_2:
    diff_2 = df[game_date_str != date_only_str][['GAME_DATE', 'DATE_ONLY']]
    print(f"\nDifferences found: {len(diff_2)} rows")
    print(diff_2.head())

GAME_DATE == DATE_ONLY: True

In [8]:
# Check if GAME_DATE_DT == DATE_ONLY
match_3 = (game_date_dt_str == date_only_str).all()
print(f"GAME_DATE_DT == DATE_ONLY: {match_3}")

if not match_3:
    diff_3 = df[game_date_dt_str != date_only_str][['GAME_DATE_DT', 'DATE_ONLY']]
    print(f"\nDifferences found: {len(diff_3)} rows")
    print(diff_3.head())

GAME_DATE_DT == DATE_ONLY: True

In [9]:
# Final verdict
print("\n" + "="*60)
print("VERIFICATION RESULTS")
print("="*60)
print(f"GAME_DATE == GAME_DATE_DT: {match_1}")
print(f"GAME_DATE == DATE_ONLY: {match_2}")
print(f"GAME_DATE_DT == DATE_ONLY: {match_3}")
print("\n" + "="*60)

if match_1 and match_2 and match_3:
    print("✅ ALL THREE COLUMNS ARE IDENTICAL")
    print("✅ Safe to use GAME_DATE for date filtering")
else:
    print("⚠️  COLUMNS ARE NOT IDENTICAL")
    print("⚠️  Need to investigate differences")

============================================================
VERIFICATION RESULTS
============================================================
GAME_DATE == GAME_DATE_DT: True
GAME_DATE == DATE_ONLY: True
GAME_DATE_DT == DATE_ONLY: True

============================================================
✅ ALL THREE COLUMNS ARE IDENTICAL
✅ Safe to use GAME_DATE for date filtering

In [10]:
# Check unique dates in each column
print("\nUnique dates in each column:")
print(f"GAME_DATE:    {df['GAME_DATE'].nunique()} unique dates")
print(f"GAME_DATE_DT: {df['GAME_DATE_DT'].nunique()} unique dates")
print(f"DATE_ONLY:    {df['DATE_ONLY'].nunique()} unique dates")

Unique dates in each column:
GAME_DATE:    163 unique dates
GAME_DATE_DT: 163 unique dates
DATE_ONLY:    163 unique dates

In [11]:
lst_cols = [
    'GAME_DATE',
    'GAME_DATE_DT',
    'DATE_ONLY'
]

df['all_dates_match'] = df[lst_cols].apply(
    lambda row: row['GAME_DATE'] == row['GAME_DATE_DT'] == row['DATE_ONLY'],
    axis=1
)

print(df['all_dates_match'].value_counts())
df[lst_cols + ['all_dates_match']]

all_dates_match
True    1230
Name: count, dtype: int64

       GAME_DATE GAME_DATE_DT   DATE_ONLY  all_dates_match
0     2025-04-13   2025-04-13  2025-04-13             True
1     2025-04-13   2025-04-13  2025-04-13             True
2     2025-04-13   2025-04-13  2025-04-13             True
3     2025-04-13   2025-04-13  2025-04-13             True
4     2025-04-13   2025-04-13  2025-04-13             True
...          ...          ...         ...              ...
1225  2024-10-23   2024-10-23  2024-10-23             True
1226  2024-10-23   2024-10-23  2024-10-23             True
1227  2024-10-23   2024-10-23  2024-10-23             True
1228  2024-10-22   2024-10-22  2024-10-22             True
1229  2024-10-22   2024-10-22  2024-10-22             True

[1230 rows x 4 columns]